

@media screen and (min-width: 1000px) {
    

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 8%;
        height: 13vh;
    }
    
    .logo-menu-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
    }
    
    .logo-menu-icon ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        background-color: transparent;
        margin-left: 3vw;
    }
    
    .logo-menu-icon ul li {
        margin-inline: 2.6vw;
        transition: 500ms;
    }

    .logo-menu-icon ul li:hover  {
            color: rgb(212, 236, 236);
            cursor: pointer;
    }
    
    
    .menu-logo {
        display: none;
    }
    
    .cart-profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 7vw;
    }
    
    

    .cart {
        height: 18px;
        width: 19px;
    }

    .profile {
        height: 39px;
        width:39px;
    }
    
    .cart-quantity {
        position: absolute;
        color: var(--white--);
        font-size: 10px;
        border-radius: 10px;
        padding-inline: 7px;
        background-color: var(--orange--);
        margin-left: 1%;
        margin-bottom: 15px;
        z-index: 2;
    
    }


}




/* Mobile  */


@media screen and (max-width: 414px){
        
.header {
    display: flex;
    align-items: center;
    padding-inline: 2.5vw;
    justify-content: space-between;
    height: 14vh;
}    

.logo-menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 45%;
}


.cart-profile {
    position: relative;
    display: flex;
    align-items: center;
    width: 19%;
    justify-content: space-between;
}

.cart-profile svg {
position: relative;
z-index: 1;
}

.cart-quantity {
    position: absolute;
    color: var(--white--);
    font-size: 10px;
    border-radius: 10px;
    padding-inline: 7px;
    background-color: var(--orange--);
    margin-left: 8%;
    margin-bottom: 15px;
    z-index: 2;
}

.cart-profile img{
    height: 40%;
    width: 40%;
}


.menu-logo {
    display: initial;
}



.logo-menu-icon ul {
    display: none;
}
    }